.item {
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 160px;
  border-radius: 10px;
}

.online {
  color: rgb(7, 234, 7);
  text-align: center;
  line-height: 0.05em;
}

.offline {
  color: red;
  text-align: center;
  line-height: 0.05em;
}

.img {
  width: 50px;
}
.name {
  font-size: 20px;
  font-weight: 600;
  line-height: 0.05em;
}
